# .gitignore

# Python compilation
__pycache__/
*.py[cod]

# PyCharm settings
.idea/

# Virtual Environment
.venv/
.env/

# Environment Variables (SECRET KEYS!)
.env

# Database
*.db
*.sqlite3
postgres_data/

# OS specific
.DS_Store